# Archivos del sistema de Ubuntu
.cache/
.Trash-*/
.lock
~$

# Carpetas de Python (si usas Python)
__pycache__/
*.pyc
venv/

# Configuraciones y credenciales
canje.db
canje_db.db

# Archivos de compilación y logs


# Carpetas y archivos de proyectos específicos
/build/
docu/
bk29032025OK/