{% extends 'canje_base.html' %}

{% block title %}Proceso de Canje{% endblock %}
{%block header %}
    <h1>Proceso de Canje de Documentación</h1>
{% endblock %}

{% block content %}
    <style>
        .container {
            display: grid;
            grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr; /* Ajuste de proporciones de columnas */
            gap: 10px; /* Reducción del espacio entre elementos */
            padding: 10px; /* Reducción del padding general */
        }
        .document-buttons button {
            display: block;
            width: 90%; /* Achicar la botonera */
            margin: 5px auto; /* Centrar y reducir margen vertical */
            padding: 8px; /* Reducir el padding de los botones */
            box-sizing: border-box;
            font-size: 0.9em; /* Reducir el tamaño de la fuente de los botones */
        }
        .preview-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .preview {
            width: 100%;
            height: auto; /* Altura automática para mantener la proporción */
            border: 1px solid #ccc;
            margin-bottom: 5px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .preview img {
            max-width: 100%;
            max-height: 100%;
        }
        .document-info {
            margin-top: 10px;
            padding: 8px;
            border: 1px solid #eee;
            background-color: #f9f9f9;
            color: #005c99;
            font-style: solid;
            text-align: left; /* Alinear el texto a la izquierda en la columna de datos */
        }
        .document-info p {
            margin: 3px 0;
            font-size: 0.9em; /* Reducir el tamaño de la fuente de los datos */
        }
    </style>

    <div class="container">
        <div class="document-buttons">
            <button id="frente_dni_button" class="scan-button rojo" onclick="triggerUpload('frente_dni')">Frente DNI</button>
            <button id="dorso_dni_button" class="scan-button rojo" onclick="triggerUpload('dorso_dni')">Dorso DNI</button>
            <button id="licencia_municipal_frente_button" class="scan-button rojo" onclick="triggerUpload('licencia_municipal_frente')">Lic. Municipal Frente</button>
            <button id="licencia_municipal_dorso_button" class="scan-button rojo" onclick="triggerUpload('licencia_municipal_dorso')">Lic. Municipal Dorso</button>
            <button id="psicofisico_button" class="scan-button rojo" onclick="triggerUpload('psicofisico')">Psicofisico</button>
            <button id="certificado_curso_button" class="scan-button rojo" onclick="triggerUpload('certificado_curso')">Certificado Curso</button>
            <button id="licencia_linti_button" class="scan-button rojo" onclick="triggerUpload('licencia_linti')">Licencia Linti</button>
            <button id="certificado_legalidad_button" class="scan-button rojo" onclick="triggerUpload('certificado_legalidad')">Certificado Legalidad</button>
            <button type="button" id="procesar_documentos_button" onclick="procesarDocumentos()">Procesar Documentos</button>
        </div>
        <div class="preview-container">
            <strong>Frente DNI</strong>
            <div id="preview_frente_dni" class="preview"></div>
        </div>
        <div class="preview-container">
            <strong>Dorso DNI</strong>
            <div id="preview_dorso_dni" class="preview"></div>
        </div>
        <div class="preview-container">
            <strong>Datos DNI</strong>
            <div id="dorso_dni_info" class="document-info" style="display: none;">
                <p><strong>Nombre:</strong> <span id="nombre_leido"></span></p>
                <p><strong>Apellidos:</strong> <span id="apellidos_leido"></span></p>
                <p><strong>Número:</strong> <span id="numero_documento_leido"></span></p>
            </div>
        </div>
        <div class="document-buttons">
            <p> </p>
        </div>
        <div class="preview-container">
            <strong>Licencia Municipal Frente</strong>
            <div id="preview_licencia_municipal_frente" class="preview"></div>
        </div>
        <div class="preview-container">
            <strong>Licencia Municipal Dorso</strong>
            <div id="preview_licencia_municipal_dorso" class="preview"></div>
        </div>
        <div class="preview-container">
            <strong>Psicofisico</strong>
            <div id="preview_psicofisico" class="preview"></div>
        </div>
        <div class="document-buttons">
            <p> </p>
        </div>
        <div class="preview-container">
            <strong>Certificado Curso</strong>
            <div id="preview_certificado_curso" class="preview"></div>
        </div>
        <div class="preview-container">
            <strong>Licencia Linti</strong>
            <div id="preview_licencia_linti" class="preview"></div>
        </div>
        <div class="preview-container">
            <strong>Certificado Legalidad</strong>
            <div id="preview_certificado_legalidad" class="preview"></div>
        </div>
    </div>

    <!-- <div class="card" aline="center">
        <div id="additional-data-form">
            <h3>Información Adicional</h3>
            <div>
                <label>¿El ciudadano está presente?</label>
                <input type="radio" id="ciudadano_presente_no" name="ciudadano_presente" value="NO" checked> NO
                <input type="radio" id="ciudadano_presente_si" name="ciudadano_presente" value="SI"> SI
            </div>
            <div>
                <label for="provincia">Provincia:</label>
                <select id="provincia">
                    <option value="">Seleccione una provincia</option>
                </select>
            </div>
            <div>
                <label for="municipio">Municipio:</label>
                <select id="municipio" disabled>
                    <option value="">Seleccione un municipio</option>
                </select>
            </div>
            <button type="button" onclick="enviarDatos()">Guardar y Generar Transacción</button>
        </div>
    </div>
    <div id="qr-container" style="display: none;">
        <h3>Código de Transacción QR</h3>
        <div id="qr-code"></div>
        <p id="codigo-transaccion-texto"></p>
    </div>

    <form id="upload_form" method="POST" action="/canje/upload" enctype="multipart/form-data" style="display:none;">
        <input type="file" name="document" id="document_upload">
        <input type="hidden" name="document_type" id="document_type">
    </form> -->

    <div class="card" aline="center">
        <div id="additional-data-form">
            <h3>Información Adicional</h3>
            <div>
                <label>¿El ciudadano está presente?</label>
                <input type="radio" id="ciudadano_presente_no" name="ciudadano_presente" value="NO" checked> NO
                <input type="radio" id="ciudadano_presente_si" name="ciudadano_presente" value="SI"> SI
            </div>
            <div>
                <label for="fecha_no_presencial">Fecha (en caso de no estar presente):</label>
                <input type="date" id="fecha_no_presencial" name="fecha_no_presencial">
            </div>
            <div>
                <label for="solicita_licencia_extendida">¿Solicita Licencia Extendida?</label>
                <select id="solicita_licencia_extendida" name="solicita_licencia_extendida">
                    <option value="NO" selected>NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
            <div>
                <label for="provincia">Provincia:</label>
                <select id="provincia">
                    <option value="">Seleccione una provincia</option>
                </select>
            </div>
            <div>
                <label for="municipio">Municipio:</label>
                <select id="municipio" disabled>
                    <option value="">Seleccione un municipio</option>
                </select>
            </div>
            <button type="button" onclick="enviarDatos()">Guardar y Generar Transacción</button>
        </div>
    </div>
    <div id="qr-container" style="display: none;">
        <h3>Código de Transacción QR</h3>
        <div id="qr-code"></div>
        <p id="codigo-transaccion-texto"></p>
    </div>
    
    <form id="upload_form" method="POST" action="/canje/upload" enctype="multipart/form-data" style="display:none;">
        <input type="file" name="document" id="document_upload">
        <input type="hidden" name="document_type" id="document_type">
    </form>    

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest/dist/sweetalert2.all.min.js"></script>
    <!-- <script>
        function enviarDatos() {
            const ciudadanoPresente = document.querySelector('input[name="ciudadano_presente"]:checked').value;
            const provinciaId = document.getElementById('provincia').value;
            const municipioId = document.getElementById('municipio').value;
        
            // Datos extraídos del dorso del DNI (si los tienes almacenados)
            const nombre = document.getElementById('nombre_leido').textContent;
            const apellidos = document.getElementById('apellidos_leido').textContent;
            const dni = document.getElementById('numero_documento_leido').textContent;
        
            // Rutas o nombres de archivo de las imágenes cargadas
            const frente_dni_imagen = datosDocumentos['preview_frente_dni'] ? datosDocumentos['preview_frente_dni'].filename : null;
            const dorso_dni_imagen = datosDocumentos['preview_dorso_dni'] ? datosDocumentos['preview_dorso_dni'].filename : null;
            const licencia_frente_imagen = datosDocumentos['preview_licencia_municipal_frente'] ? datosDocumentos['preview_licencia_municipal_frente'].filename : null;
            const licencia_dorso_imagen = datosDocumentos['preview_licencia_municipal_dorso'] ? datosDocumentos['preview_licencia_municipal_dorso'].filename : null;
            const psicofisico_imagen = datosDocumentos['preview_psicofisico'] ? datosDocumentos['preview_psicofisico'].filename : null;
            const certificado_curso_imagen = datosDocumentos['preview_certificado_curso'] ? datosDocumentos['preview_certificado_curso'].filename : null;
            const licencia_linti_imagen = datosDocumentos['preview_licencia_linti'] ? datosDocumentos['preview_licencia_linti'].filename : null;
            const certificado_legalidad_imagen = datosDocumentos['preview_certificado_legalidad'] ? datosDocumentos['preview_certificado_legalidad'].filename : null;
        
            const data = {
                ciudadano_presente: ciudadanoPresente,
                provincia_id: provinciaId, // Asegúrate que coincida con el nombre de la columna en DB
                municipio_id: municipioId,   // Asegúrate que coincida con el nombre de la columna en DB
                nombre: nombre,
                apellido: apellidos,
                dni: dni,
                frente_dni_imagen: frente_dni_imagen,
                dorso_dni_imagen: dorso_dni_imagen,
                licencia_frente_imagen: licencia_frente_imagen,
                licencia_dorso_imagen: licencia_dorso_imagen,
                linti_imagen: licencia_linti_imagen,
                curso_certificado_imagen: certificado_curso_imagen,
                psicofisico_certificado_imagen: psicofisico_imagen, // Asumiendo que 'psicofisico' guarda el filename
                legalidad_certificado_imagen: certificado_legalidad_imagen, // Asumiendo que 'certificado_legalidad' guarda el filename
                // ... y así sucesivamente para todos los campos de tu tabla DatosDeCanje ...
            };
        
            console.log('Datos a enviar:', data); // Para debugging
        
            fetch('/canje/guardar_datos', { // Ajusta la ruta si es diferente
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Respuesta del servidor:', result);
                if (result && result.success) { // Cambiamos a verificar result.success
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: result.message, // Usamos result.message
                        confirmButtonText: 'OK'
                    }).then((confirmResult) => {
                        if (confirmResult.isConfirmed) {
                            window.location.reload();
                        }
                    });
                } else if (result && result.error) {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: result.error,
                        confirmButtonText: 'Volver'
                    });
                } else {
                    console.warn('Respuesta del servidor inesperada:', result);
                    Swal.fire({
                        icon: 'warning',
                        title: '¡Advertencia!',
                        text: 'La operación se realizó, pero hubo un problema al mostrar la notificación.',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                console.error('Error al enviar los datos:', error);
                Swal.fire({
                    icon: 'error',
                    title: '¡Error de conexión!',
                    text: 'No se pudo conectar con el servidor.',
                    confirmButtonText: 'Volver'
                });
            });
        }        
    </script> -->
    <script>
        function enviarDatos() {
            const ciudadanoPresente = document.querySelector('input[name="ciudadano_presente"]:checked').value;
            const provinciaId = document.getElementById('provincia').value;
            const municipioId = document.getElementById('municipio').value;
        
            // Datos extraídos del dorso del DNI
            const nombre = document.getElementById('nombre_leido').textContent;
            const apellidos = document.getElementById('apellidos_leido').textContent;
            const dni = document.getElementById('numero_documento_leido').textContent;
            console.log('Contenido de datosDocumentos antes de enviar:', datosDocumentos);
            
            const data = {
                ciudadano_presente: ciudadanoPresente,
                provincia_id: provinciaId,
                municipio_id: municipioId,
                nombre: nombre,
                apellido: apellidos,
                dni: dni,
                fecha_pactada: fecha_no_presencial.value,
                extendida: solicita_licencia_extendida.value,
                psicofisico_apellido: datosDocumentos['psicofisico']?.psicofisico_apellido || null,
                psicofisico_nombre: datosDocumentos['psicofisico']?.psicofisico_nombre || null,
                //psicofisico_categoria: datosDocumentos['psicofisico']?.psicofisico_categoria || null,
                psicofisico_f_examen: datosDocumentos['psicofisico']?.psicofisico_f_examen || null,
                //psicofisico_f_dictamen: datosDocumentos['psicofisico']?.psicofisico_f_dictamen || null,
                psicofisico_dni: datosDocumentos['psicofisico']?.psicofisico_dni || null,
                psicofisico_imagen: datosDocumentos['psicofisico']?.psicofisico_ocr_text || null, // ¡Asegúrate de que esta clave sea correcta!
                psicofisico_prestador: datosDocumentos['psicofisico']?.psicofisico_prestador || null,
                curso_nombre: datosDocumentos['certificado_curso']?.curso_nombre || null,
                curso_apellido: datosDocumentos['certificado_curso']?.curso_apellido || null,
                curso_dni: datosDocumentos['certificado_curso']?.curso_dni || null,
                curso_imagen: datosDocumentos['certificado_curso']?.curso_imagen || null, // ¡Asegúrate de que esta clave sea correcta!
                legalidad_nombre: datosDocumentos['certificado_legalidad']?.legalidad_nombre || null,
                legalidad_apellido: datosDocumentos['certificado_legalidad']?.legalidad_apellido || null,
                legalidad_dni: datosDocumentos['certificado_legalidad']?.legalidad_dni || null,
                legalidad_certificado_imagen: datosDocumentos['certificado_legalidad']?.curso_certificado_imagen || null, // ¡Asegúrate de que esta clave sea correcta!
                legalidad_imagen: datosDocumentos['certificado_legalidad']?.legalidad_ocr_text || null, // ¡Asegúrate de que esta clave sea correcta!
                linti_nombre: datosDocumentos['licencia_linti']?.linti_nombre || null,
                linti_apellido: datosDocumentos['licencia_linti']?.linti_apellido || null,
                linti_dni: datosDocumentos['licencia_linti']?.linti_dni || null,
                linti_f_vto: datosDocumentos['licencia_linti']?.linti_f_vto || null,
                linti_categoria: datosDocumentos['licencia_linti']?.linti_categoria || null,
                linti_imagen: datosDocumentos['licencia_linti']?.linti_ocr_text || null, // ¡Asegúrate de que esta clave sea correcta!
                frente_dni_imagen: datosDocumentos['frente_dni']?.ocr_text || null, // ¡Asegúrate de que esta clave sea correcta!
                dorso_dni_imagen: datosDocumentos['dorso_dni']?.ocr_text || null,   // ¡Asegúrate de que esta clave sea correcta!
                licencia_frente_imagen: datosDocumentos['licencia_frente']?.ocr_text || null, // ¡Asegúrate de que esta clave sea correcta!
                licencia_dorso_imagen: datosDocumentos['licencia_dorso']?.ocr_text || null,   // ¡Asegúrate de que esta clave sea correcta!
                //linti_imagen: datosDocumentos['licencia_linti']?.ocr_text || null,       // ¡Asegúrate de que esta clave sea correcta!
                //curso_certificado_imagen: datosDocumentos['certificado_curso']?.ocr_text || null, // ¡Asegúrate de que esta clave sea correcta!
                //psicofisico_certificado_imagen: datosDocumentos['psicofisico']?.ocr_text || null, // ¡Asegúrate de que esta clave sea correcta!
                //legalidad_certificado_imagen: datosDocumentos['legalidad_certificado_imagen']?.legalidad_certificado_imagen || null, // ¡Asegúrate de que esta clave sea correcta!
            };        

        
            console.log('Datos a enviar:', data);
        
            fetch('/canje/guardar_datos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Respuesta del servidor:', result);
                if (result && result.success) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: result.message,
                        confirmButtonText: 'OK'
                    }).then((confirmResult) => {
                        if (confirmResult.isConfirmed) {
                            window.location.reload();
                        }
                    });
                } else if (result && result.error) {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: result.error,
                        confirmButtonText: 'Volver'
                    });
                } else {
                    console.warn('Respuesta del servidor inesperada:', result);
                    Swal.fire({
                        icon: 'warning',
                        title: '¡Advertencia!',
                        text: 'La operación se realizó, pero hubo un problema al mostrar la notificación.',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                console.error('Error al enviar los datos:', error);
                Swal.fire({
                    icon: 'error',
                    title: '¡Error de conexión!',
                    text: 'No se pudo conectar con el servidor.',
                    confirmButtonText: 'Volver'
                });
            });
        }        
    </script>
    <!--
    <script src="{{ url_for('static', filename='js/manager_form.js') }}" defer></script>
    -->
    <script src="{{ url_for('static', filename='js/canje_ocr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canje_prov_muni.js') }}" defer></script>
{% endblock %}